body{
	overflow-x:hidden;
	padding:0;
	margin:0;
}
#strip{
	background-color: #e0e0e0;
    width: auto;
    height: auto;
    margin-left: 60px;
    margin-right: 60px;
}
#whole{
	background-color:white;
}
#load{
    width:100%;
    height:100%;
    position:fixed;
    z-index:9999;
	background-color: rgba(0,0,0,.4);
}
#load i{
	color:white;
	font-size:60px;
	top: 50%;
    left: 50%;
	position:absolute;
}
#header{
	height:50px;
	width:100%;
	background-color:#3d3c3a;
}
#brand{
	color: white;
    font-size: 30px;
    float: left;
    margin: 5px 0 0 40px;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
}
#login{
	float:right;
	margin:14px 30px 0 0px;
}
#login li{
	display:inline;
	margin:0px 0 0 35px;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	color:white;
	font-size:16px;	
}
#login i{
	margin:0 5px 0 0;
	font-size:17px;
}
#login a:link    {color:white; text-decoration:none;}
#login a:visited {color:white; text-decoration:none;}
#login a:active  {color:white; text-decoration:none;}
#login a:hover{
	color:yellow;
	transition: .35s ease-out all;
  -webkit-transition: .35s ease-out all;
	cursor:pointer;
}
#slider_wall{
	background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    padding: 20px;
}
.blur   {
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
}
#overlay    {
    position: fixed;
    display: none;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(0,0,0,.4);
    z-index: 999;
}
#popup {
   position: fixed;
  width: 600px;
  height: 500px;
  background-size: 100% 100%;
  border-radius: 40px;
  box-shadow: 10px 10px 15px #000;
  left: 380px;
  top: 85px;
  
}
#maskpop{
	position: fixed;
  width: 600px;
  height: 500px;
   left: 380px;
  top: 85px;
  border-radius: 40px;
  background:rgba(0,0,0,0.4);
}
#cancel{
	position:absolute;
	right:0px;
}
#login_form_text{
	color:white; 
	position:relative; 
	left:180px; 
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	font-size:40px;
	top:20px;
	font-weight:600;
	width: 260px;
}
#login_fb{
	float:right;
	width: 250px;
  background-size: 250px 52px;
	height:52px;
	margin-right:30px;
}
#login_google{
	float:left;
	width: 250px;
  background-size: 250px 50px;
	height:50px;
	margin-left:30px;
}
#login_google,#login_fb{
	position:relative;
	top:120px;
}
#login_google:hover,#login_fb:hover{
	cursor:pointer;
}
#login_form{
	position:relative;
	top:60px;
	left:160px;	
}
#username{
	width: 280px;
  height: 35px;
  padding: 7px 10px;
	border:none;
  outline: 0;
  background: #fcfcfc;
  font-family:"Trebuchet MS", Helvetica, sans-serif;
}
#password{
	margin: 20px 0 0 0;
	width: 280px;
	height: 35px;
	border:none;
	padding: 7px 10px;
	outline: 0;
  background: #fcfcfc;
  font-family:"Trebuchet MS", Helvetica, sans-serif;
}
#login_button{
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	width: 280px;
	height: 35px;
	background-color:#f9966b;
	outline: 0;
	  border: 0;
	color:white;
	font-size:15p;
	border-radius:2px;
	font-weight:700;
}
#remember_check{
	float:left;	
	margin-top:20px;
}
#remember_text{
	color:white;
	font-size:15px;
	font-weight:700;
	margin-left:20px;
	margin-top:15px;
font-family:"Trebuchet MS", Helvetica, sans-serif;	
}
#forgot{
	  font-size: 15px;
  color: #93ffe8;
  font-weight: 700;
  margin-left: 20px;
  float: right;
  margin-right: 325px;
  margin-top: -20px;
  font-family:"Trebuchet MS", Helvetica, sans-serif;
}
#not_user{
	font-size:15px;
	color:white;
	float:left;
	position:relative;
	margin-left:30px;
	margin-top:10px;
	font-weight: 600;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
}
#sign_now{
	font-size:15px;
	color:white;
	float:right;
	font-weight: 600;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	margin-right:350px;
	margin-top:9px;
	position:relative;
}
#sign_now a:link    {color:white; text-decoration:none;}
#sign_now a:visited {color:white; text-decoration:none;}
#sign_now a:active  {color:white; text-decoration:none;}
#sign_now a:hover{
	color:yellow;
	transition: .35s ease-out all;
  -webkit-transition: .35s ease-out all;
	cursor:pointer;
}
#hr{ 
   display: block;
  position: relative;
  top: 125px;
  left: 200px;
  width: 200px;
  border-style: inset;
  border-width: 1px;
} 
#or{
	width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: white;
  position: relative;
  left: 278px;
  top: 102px;
}
#or_text{
	position: relative;
    top: -5px;
    left: 10px;
    font-weight: 600;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.blur2   {
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
}
#overlay2    {
    position: fixed;
    display: none;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(0,0,0,.4);
    z-index: 999;
}
#popup2 {
   position: fixed;
  width: 750px;
  height: 595px;
  background-size: 100% 100%;
  border-radius: 40px;
  box-shadow: 10px 10px 15px #000;
  left: 300px;
  top: 25px;
}
#maskpop2{
	  
  width: 750px;
  height: 595px;
  left: 300px;
  top: 25px;
  border-radius: 40px;
  background: rgba(0,0,0,0.6);
}
#cancel2{
	position:absolute;
	right:0px;
	
}
#signup_form{
	position:relative;
	top:40px;
	left:65px;	
	  width: 300px;
}
#first_name{
	width: 250px;
	height: 35px;
	padding: 7px 10px;
	outline: 0;
	border:none;
	border-radius:2px;
	background: #fcfcfc;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
}
#job{
	width: 250px;
	margin: 20px 0 0 0;
	height: 35px;
	padding: 7px 10px;
	outline: 0;
	border:none;
	border-radius:2px;
	background: #fcfcfc;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
}
#last_name{
	margin: 20px 0 0 0;
	width: 250px;
	height: 35px;
	padding: 7px 10px;
	outline: 0;
	border-radius:2px;
	border:none;
	background: #fcfcfc;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
}
#email_id{
	margin: 20px 0 0 0;
	width: 250px;
	height: 35px;
	padding: 7px 10px;
	outline: 0;
	border-radius:2px;
	border:none;
	background: #fcfcfc;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
}
#dob{
	margin: 20px 0 0 0;
	width: 250px;
	height: 35px;
	padding: 7px 10px;
	outline: 0;
	border:none;
	border-radius:2px;
	background: #fcfcfc;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
}
#new_pass{
	margin: 20px 0 0 0;
	width: 250px;
	height: 35px;
	padding: 7px 10px;
	outline: 0;
	background: #fcfcfc;
	border:none;
	border-radius:2px;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
}
#con_pass{
	margin: 20px 0 0 0;
	width: 250px;
	height: 35px;
	padding: 7px 10px;
	outline: 0;
	background: #fcfcfc;
	border:none;
	border-radius:2px;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
}
#male{
	margin:20px 0 0 0;
}
#female{
	margin:20px 0 0 10px;
}
#male_text,#female_text{
	color:white;
	font-size:20px;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	display:inline;
	margin:20px 0 0 10px;
}
#signup_btn{
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	width: 250px;
	height: 35px;
	background-color:#fdd017;
	outline: 0;
	  border: 0;
	color:white;
	font-size:20px;
	border-radius:2px;
	font-weight:700;
	margin:10px 0 0 0;
}
#agree{
	color: white;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  margin: 5px 0 0 0;
}
#signup_form_text{
	color:#edda74;
	position:relative; 
	left:250px; 
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	font-size:40px;
	top:20px;
	font-weight:600;
	width: 300px;
}
#welcome{
	 color:#f88;
	float:right;
	position:absolute;
	top:100px;
	//font-family:"Trebuchet MS", Helvetica, sans-serif;
	 font-family: 'Damion', cursive;
	right:100px;
}
#wel_text{
	font-size:50px;
	font-weight:600;
	
}
#to_text{
	font-size: 30px;
  font-weight: 600;
  margin: 0 0 0 90px;
  //color:#fdd017;
}
#social_text{
	//color:yellow;
	font-size: 40px;
  font-weight: 600;
  margin: 0 0 0 40px;
}
#features{
	position: absolute;
  top: 300px;
  right: 40px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 600;
  width: 325px;
}
#f1,#f2,#f3{
	margin:20px 0 0 0;
}
#features i{
	font-size:30px;
	margin-right:10px;
	color:#fdd017;
}
#f1_text,#f2_text,#f3_text{
	margin: -30px 0 0 50px;
  position: relative;
  color:white;
}
#ment{
	    background-color: #ec7148;
}
#mtw{
	background-color: #3d9ee3;
}
#mspo{
	background-color: #61bd8c;
}
#mpla{
	background-color: #9d9797;
}
#mhf{
	background-color: #b9c941;
}
#midose{
	background-color: #f9abd4;
}
#ment,#mtw,#mspo,#mpla,#mhf,#midose{
	width: 165px;
    left: -30px;
	color:white;
}
#footer{
	//position:absolute;
    bottom:0;
	background-color: #3d3c3a;
	width:100%;
	height:6%;
	margin-top:5px;
}
#copyright{
	color:white;
	font-size:12px;
	float:left;
	margin:10px 0 0 30px;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
}
#copyright i{
	margin-left:3px;
	margin-right:3px;
}
#privacy{
	float:right;
	margin:10px 30px 0 0px;
}
#privacy li{
	display:inline;
	margin:0px 0 0 25px;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	color:white;
	font-size:14px;
}
#privacy a:link    {color:white; text-decoration:none;}
#privacy a:visited {color:white; text-decoration:none;}
#privacy a:active  {color:white; text-decoration:none;}
#privacy a:hover{
	color:yellow;
	cursor:pointer;
}

#serie1{
	position:relative;
	left:5px;
	top:40px;
	width:90%;
	height:360px;
}
#serie2{
	position:relative;
	left:5px;
	top:0px;
	width:90%;
	height:315px;
}
#serie3{
	position:relative;
	left:5px;
	top:0px;
	width:90%;
	height:315px;
}
#serie4{
	position:relative;
	left:5px;
	top:0px;
	width:90%;
	height:315px;
}
#serie5{
	position:relative;
	left:5px;
	top:0px;
	width:90%;
	height:315px;
}
#serie6{
	position:relative;
	left:5px;
	top:0px;
	width:90%;
	height:315px;
}
#box1{
	background-color:white;
	width:260px;
	height:310px;
	border-radius:5px;
	box-shadow: 0 0 10px #000;
}
#inpic{
	margin: 0px 0px 10px 15px;
	width: 230px;
	height: 150px;
	background-size: 100% 100%;
    background-repeat: no-repeat;
	border-radius:3px;
	position:relative;
	top:15px;
}
#ent,#tw,#hf,#spo,#life,#tra,#inc{
	width:260px;
	height: 35px;
	margin: 0px 0 0px 0;
	border-bottom-left-radius: 0.4em;
	border-bottom-right-radius: 0.4em;
	position: absolute;
	top: 275px;
}
#ent{
	background-color:#ec7148;
}
#tw{
	background-color:#3d9ee3;
}
#hf{
	background-color:#b9c941;
}
#spo{
	background-color:#61bd8c;
}
#life{
	background-color:#9e75b7;
}
#tra{
	background-color:#9d9797;
}
#inc{
	background-color:#f9abd4;
}
#hdline h3{
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	margin:-30px 0 0 45px;
	font-size:18px;
}
#hdline i{
	margin:15px 0 0 0;
}
#hdline{
	margin:10px;
}
.mask{
	width: 230px;
	height: 150px;
}
.abc:hover .mask{
	 position: relative;
  background-color: rgba(0,0,0,.4);
  height: 100%;
  cursor:pointer;
	transition: .35s ease-out all;
  -webkit-transition: .35s ease-out all;
 
}
.abc:hover #hdline{
	color:#E66545;
	cursor:pointer;
	transition: .35s ease-out all;
  -webkit-transition: .35s ease-out all;
}	
.abc a:link    {color:#333; text-decoration:none;}
.abc a:visited {color:#333; text-decoration:none;}
.abc a:active  {color:#333; text-decoration:none;}

#author{
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	color:white; 
	font-size:14px;
	float:left;
	margin: 5px 0 0 10px;
}
#buck{
	  color: white;
  font-size: 25px;
  float: right;
  margin: 5px 15px 0 0;
}
#author:hover,#buck:hover{
	color:#505050;
	cursor:pointer;
}
#author a:link    {color:white; text-decoration:none;}
#author a:visited {color:white; text-decoration:none;}
#author a:active  {color:white; text-decoration:none;}
#author a:hover{
	color:#505050;
	cursor:pointer;
}
#about_challenge{
	height:200px;
	width:100%;
}
#b1{
	background-color:#e26a6a;
	width:100%;
	height:100%;
}
#b2{
	background-color:#f9bf3b;
	width:100%;
	height:100%;
}
#b3{
	background-color:#4b77be;
	width:100%;
	height:100%;
}
#b4{
	background-color:#26c281;
	width:100%;
	height:100%;
}

#bfea{
	font-size:60px;
	color:white;
	margin:20px 0 0 0;
}
#bfea_text{
	font-size:20px;
	font-weight:500;
	margin:10px 0 0 0;
	color:white;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
}

#bh{
	height: 60px;
    width: 340px;
    box-shadow: 0 0 10px #000;
    background-color: #ff7f50;
    border-bottom: solid thick #806517;
}
#big1{
	background-color: white;
    width: 340px;
    height: 490px;
	z-index:1;
    position: absolute;
    float: right;
    margin: 0px 0 0 20px;
    box-shadow: 0 0 10px #000;

}
#for_scroll{
	overflow-x: hidden;
    height: 430px
}
.mask3{
	width: 130px;
    height: 100px;
}
.abc3:hover .mask3{
	 position: relative;
  background-color: rgba(0,0,0,.4);
  height: 100%;
  cursor:pointer;
	transition: .35s ease-out all;
  -webkit-transition: .35s ease-out all;
}
.abc3:hover #des1,.abc3:hover #des2,.abc3:hover #des3,.abc3:hover #des4{
	color:#E66545;
	 cursor:pointer;
	 transition: all 100ms ease-in;
  -webkit-transition: all 100ms ease-in;
}
#bb1,#bb2,#bb3,#bb4,#bb5,#bb6{
	
	height:145px;
	width:340px;
	border-top:solid thin #806517;
	border-bottom: solid thin #806517;
}
#smpic1{
 width: 130px;
    height: 100px;
    top: 22px;
    left: 10px;
    position: relative;
    background-size: 130px 100px;
    background-repeat: no-repeat;
    margin: 0px 0px 0 0px;
}
#des1,#des2,#des3,#des4{
	float: right;
    width: 160px;
    height: 50px;
    position: relative;
    top: -80px;
    left: -25px;
    font-size: 16px;
    font-weight: 600;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
#des{
  position: relative;
  top: 8px;
  left: 100px;
  font-size: 30px;
  color: white;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
#flip_coupons{
	width:100%;
	background-color:#ececec;
	color: black;
	font-size: 25px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
#what_it_is{
	font-size:60px;
	margin: 30px 0 30px 0;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
}
#capsule{
	background-color:#ede100;
	width:100%;
	border-radius:200px;
	height:350px;
}
#circle{
	width:250px;
	height:250px;
	border-radius:125px;
	background-color:white;
}
#circle_text{
	top: 16%;
	width:90%;
	font-size:21px;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
    position: relative;
}
#circle_logo{
	font-size: 70px;
    margin: 0 0 10px 0;
}
#circle_line{
	padding:50px;
}
#what_you_win{
	height:120px;
	width:100%;
}
#best_blogger{
	background-color:#67809f;
	height: 120px;
    width: 100%;
	color:white;
	font-size:20px;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
}
#challenge_win{
	font-size:20px;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	height: 120px;
    width: 100%;
	color:white;
	background-color:#f64747;
}
#best_blogger_text,#challenge_win_text{
	float: right;
    width: 40%;
    margin: 20px 30px 0 0
}
#best_star{
	margin: 0px 0px 0 -25px;
    z-index: 1;
    color: #f39c12;;
}
#best_user{
	margin: 35px 0 0 20px;
    font-size: 50px;
}
#user1{
	margin: 35px 0 0 25px;
    font-size: 45px;
}
#user2{
	margin: 35px 0 0 60px;
	font-size: 45px;
}
#user3{
	margin: 35px 0 0 25px;
	font-size: 45px;
}
#users_week,#user_plus,#week_cal,#user_hand{
	font-size: 40px;
    margin: 0 0 0 20px;
}
#vs{
	position:absolute;
	    top: 50px;
    left: 80px;
}
@media (max-width: 640px) {
#strip{
	background-color: #e0e0e0;
    width: auto;
    height: 500px;
    margin-left: 0px;
    margin-right: 0px;
}
#header{
	height:45px;
}
#brand{
	font-size: 23px;
    margin: 7px 0 0 23px;
}
#login{
	margin: 15px 5px 0 0px;
    width: 410px;
}
#login li{
	margin: 0px 30px 0 0px;
    font-size: 14px;
}

}

@media (max-width: 480px){
#strip{
	background-color:#e0e0e0;
    width: auto;
    height: auto;
    margin-left: 0px;
    margin-right: 0px;
}
#header{
	height:45px;
}
#brand{
    font-size: 21px;
    float: left;
	width:55px;
    margin: 8px 0 0 15px;
}
#login{
	margin: 13px 0px 0 0px;
    width: 246px;
}
#login li{
	margin: 0px 12px 0 0px;
    font-size: 13px;
}

#login i{
	display:none;
}
#what_you_win{
	height:120px;
	width:100%;
}
#best_blogger{
	font-size:15px;
}
#challenge_win{
	font-size:15px;
}
#best_blogger_text,#challenge_win_text{
	float: right;
    width: 85%;
    margin: 10px 20px 0 0
}
#best_star{
	margin: 0px 0px 0 -25px;
    z-index: 1;
    color: black;
}
#best_user{
	margin: 5px 0 0 20px;
}
#user1{
	margin: 10px 0 0 40px;
    font-size: 40px;
}
#user2{
	margin: 10px 0 0 60px;
	font-size: 40px;
}
#user3{
	margin: 10px 0 0 30px;
	font-size: 40px;
}
#vs{
	position:absolute;
	top: 25px;
    left: 90px;
}
#users_week,#user_plus,#week_cal,#user_hand{
	font-size: 30px;
    margin: 0 0 0 30px;
}
#capsule{
	background-color:#ede100;
	width:100%;
	border-radius:0px;
	height:350px;
}
#circle{
	width:150px;
	height:150px;
	margin:15px 0 0 -5px;
	border-radius:75px;
	background-color:white;
}
#circle_line{
	padding:0px;
}
#circle_text{
	top: 16%;
	width:90%;
	font-size:15px;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
    position: relative;
}
#circle_logo{
	font-size: 35px;
    margin: 0 0 10px 0;
}
#bfea{
	font-size:30px;
	color:white;
	margin:10px 0 0 0;
}
#bfea_text{
	font-size:15px;
	font-weight:500;
	margin:5px 0 0 0;
	color:white;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
}
#job, #last_name,#welcome,#features,#copyright,#big1,#not_in_mob{
	display:none;
}
#footer{
	height:45px;;
}
#privacy li{
	margin:0 0 0 30px;
	font-size:16px;
}
#privacy{
	width: 80%;
    margin: 12px 15px 0 0;
}
#ment,#mtw,#mspo,#mpla,#mhf,#midose{
	width: 100%;
    left: 0px;
	color:white;
}

#b1,#b2,#b3,#b4{
	height:50%;
}
#serie2,#serie3,#serie4,#serie5,#serie6{
	height: 170%;
    left: 0%;
    width: 100%
}
#serie1{
	height: 175%;
    left: 0%;
	top:0px;
    width: 100%
}
#box1{
	background-color:white;
	width:101%;
	height:310px;
	border-radius:5px;
	margin:20px 0 0 0;
	box-shadow: 0 0 10px #000;
}
#inpic{
	margin: 0px 5% 10px 5%;
	width: 92%;
	height: 175px;
	background-size: 100% 100%;
    background-repeat: no-repeat;
	border-radius:3px;
	position:relative;
	top:15px;
}
.mask{
	width: 100%;
	height: 175px;
}
#ent,#tw,#hf,#spo,#life,#tra,#inc{
	width:92%;
	height: 35px;
	margin: 20px 0 0px 0;
	border-bottom-left-radius: 0.4em;
	border-bottom-right-radius: 0.4em;
	position: absolute;
	bottom:0px;
}
#popup2 {
      position: fixed;
    width: 90%;
    height: 515px;
    background-size: 100% 100%;
    border-radius: 40px;
    box-shadow: 10px 10px 15px #000;
    left: 5%;
    top: 10px;
}
#maskpop2{
	    width: 100%;
    height: 515px;
    top: 0px;
    border-radius: 40px;
    background: rgba(0,0,0,0.6)
}
#cancel2{
	position:absolute;
	right:0px;
	
}
#signup_form{
	position: relative;
    top: 40px;
    left: 10%;
    width: 80%;
}
#first_name{
	width: 100%;
	height: 35px;
	padding: 7px 10px;
	outline: 0;
	border:none;
	border-radius:2px;
	background: #fcfcfc;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
}

#email_id{
	margin: -10px 0 0 0;
	width: 100%;
	height: 35px;
	padding: 7px 10px;
	outline: 0;
	border-radius:2px;
	border:none;
	background: #fcfcfc;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
}
#dob{
	margin: 30px 0 0 0;
	width: 100%;
	height: 35px;
	padding: 7px 10px;
	outline: 0;
	border:none;
	border-radius:2px;
	background: #fcfcfc;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
}
#new_pass{
	margin: 30px 0 0 0;
	width: 100%;
	height: 35px;
	padding: 7px 10px;
	outline: 0;
	background: #fcfcfc;
	border:none;
	border-radius:2px;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
}
#con_pass{
	margin: 30px 0 0 0;
	width: 100%;
	height: 35px;
	padding: 7px 10px;
	outline: 0;
	background: #fcfcfc;
	border:none;
	border-radius:2px;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
}
#male{
	margin:20px 0 0 0;
}
#female{
	margin:20px 0 0 10px;
}
#male_text,#female_text{
	color:white;
	font-size:20px;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	display:inline;
	margin:20px 0 0 10px;
}
#signup_btn{
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	width: 100%;
	height: 35px;
	background-color:#fdd017;
	outline: 0;
	  border: 0;
	color:white;
	font-size:20px;
	border-radius:2px;
	font-weight:700;
	margin:10px 0 0 0;
}
#agree{
	color: white;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  margin: 5px 0 0 0;
}
#signup_form_text{
	    color: #edda74;
    position: relative;
    left: 20%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 30px;
    top: 20px;
    font-weight: 600;
    width: 200px;
}
#popup {
   position: fixed;
    width: 90%;
    height: 500px;
    background-size: 100% 100%;
    border-radius: 40px;
    box-shadow: 10px 10px 15px #000;
    left: 5%;
    top: 15px;
  
}
#maskpop{
	position: relative;
    width: 100%;
    height: 500px;
    left: 0%;
    top: 0px;
    border-radius: 40px;
    background: rgba(0,0,0,0.4);
}
#cancel{
	position:absolute;
	right:0px;
}
#login_form_text{
	color: white;
    position: relative;
    left: 22%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 30px;
    top: 20px;
    font-weight: 600;
    width: 200px;
}
#login_fb{
	float: right;
    width: 80%;
    background-size: 100% 100%;
    height: 52px;
    margin-right: 8%;
}
#login_google{
	float: left;
    width: 81%;
    background-size: 100% 100%;
    height: 56px;
    margin-left: 11%;
}
#login_google,#login_fb{
	position:relative;
	top:100px;
}
#login_google:hover,#login_fb:hover{
	cursor:pointer;
}
#login_form{
	    position: relative;
    top: 50px;
    width: 130%;
    left: 7%;	
}
#username{
	width: 67%;
  height: 35px;
  padding: 7px 10px;
	border:none;
  outline: 0;
  background: #fcfcfc;
  font-family:"Trebuchet MS", Helvetica, sans-serif;
}
#password{
	margin: 20px 0 0 0;
	width: 67%;
	height: 35px;
	border:none;
	padding: 7px 10px;
	outline: 0;
  background: #fcfcfc;
  font-family:"Trebuchet MS", Helvetica, sans-serif;
}
#login_button{
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	width: 67%;
	height: 35px;
	background-color:#f9966b;
	outline: 0;
	  border: 0;
	color:white;
	font-size:15p;
	border-radius:2px;
	font-weight:700;
}
#remember_check{
	float:left;	
	margin-top:20px;
}
#remember_text{
	color:white;
	font-size:15px;
	font-weight:700;
	margin-left:20px;
	margin-top:15px;
font-family:"Trebuchet MS", Helvetica, sans-serif;	
}
#forgot{
	  font-size: 15px;
    color: #93ffe8;
    font-weight: 700;
    margin-left: 0px;
    float: right;
    margin-right: 35%;
    margin-top: -20px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
#not_user{
	font-size:15px;
	color:white;
	float:left;
	position:relative;
	margin-left:30px;
	margin-top:10px;
	font-weight: 600;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
}
#sign_now{
	font-size: 15px;
    color: white;
    float: right;
    font-weight: 600;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin-right: 35%;
    margin-top: 9px;
    position: relative;
}
#hr{ 
   display: block;
    position: relative;
    top: 100px;
    left: 50px;
    width: 77%;
    border-style: inset;
    border-width: 1px;
} 
#or{
	width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: white;
    position: relative;
    left: 45%;
    top: 85px;
}
#or_text{
	      position: relative;
    top: -5px;
    left: 10px;
    font-weight: 600;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

}


	

